/*  your css code here. If applicable */

#openModal {
  display: inline-block;
  padding: 10px 20px;
  background: #3498db;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
}


.modal-content {
  background: white;
  width: 350px;
  border-radius: 8px;
  overflow: hidden;
}

.modal-header {
  background: #3498db;
  color: white;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.close-modal {
  cursor: pointer;
  font-size: 20px;
}

.modal-body {
  padding: 15px;
}


#modal-toggle:checked + #openModal + .modal {
  display: flex;
}
